In [6]:
import json
import pandas as pd

In [3]:
with open("Words.json", "r") as file:
    words = json.load(file)

print(words[:10])

['pzazz', 'jazzy', 'buzzy', 'fuzzy', 'muzzy', 'bezzy', 'bizzy', 'fizzy', 'whizz', 'zhuzh']

In [15]:
letter_hist_dict = {}

for word in words:
    for letter in word:
        if letter in letter_hist:
            letter_hist_dict[letter] += 1
        else:
            letter_hist_dict[letter] = 1

letter_hist = pd.DataFrame([{"letter": key, "count": value} for key, value in letter_hist_dict.items()])

letter_hist["frequency"] = letter_hist["count"] / letter_hist["count"].max()

letter_hist = letter_hist.sort_values("count", ascending = False)

letter_hist

   letter  count  frequency
2       a   1026   1.000000
9       e    953   0.928850
14      c    712   0.693957
17      o    711   0.692982
13      s    703   0.685185
10      i    679   0.661793
21      k    662   0.645224
6       u    654   0.637427
4       y    639   0.622807
25      l    567   0.552632
8       m    548   0.534113
5       b    540   0.526316
0       p    522   0.508772
12      h    452   0.440546
20      n    409   0.398635
7       f    371   0.361598
16      r    367   0.357700
1       z    292   0.284600
15      d    292   0.284600
22      g    267   0.260234
18      t    221   0.215400
23      x    216   0.210526
3       j    213   0.207602
11      w    206   0.200780
24      v    192   0.187135
19      q     86   0.083821

In [20]:
words_by_letter_frequency_sum_data = []

for word in words:
    frequency_sum = letter_hist.loc[letter_hist["letter"].isin(list(word))]["frequency"].sum()
    words_by_letter_frequency_sum_data.append({"word": word, "frequency_sum": frequency_sum})

words_by_letter_frequency_sum = pd.DataFrame(words_by_letter_frequency_sum_data)

words_by_letter_frequency_sum = words_by_letter_frequency_sum.sort_values("frequency_sum", ascending = False)

words_by_letter_frequency_sum

       word  frequency_sum
2115  cakes       3.953216
1022  cakey       3.890838
1369  aleck       3.820663
2413  kames       3.793372
2487  makes       3.793372
...     ...            ...
926   twixt       1.288499
540   jinni       1.268031
857   phpht       1.164717
31    zizit       1.161793
1321  vivid       1.133528

[2500 rows x 2 columns]